SoapServer/produits_wsdl.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.server.ws.orsys.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.server.ws.orsys.com/" name="ProduitServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.server.ws.orsys.com/" schemaLocation="http://localhost:8888/ws/produits?xsd=1"/>
</xsd:schema>
</types>
<message name="create">
<part name="arg0" type="tns:produit"/>
</message>
<message name="createResponse">
<part name="return" type="tns:produit"/>
</message>
<message name="updateProduit">
<part name="arg0" type="tns:produit"/>
</message>
<message name="updateProduitResponse"/>
<message name="deleteProduit">
<part name="id" type="xsd:int"/>
</message>
<message name="deleteProduitResponse"/>
<message name="findById">
<part name="id" type="xsd:int"/>
</message>
<message name="findByIdResponse">
<part name="return" type="tns:optional"/>
</message>
<message name="getProduits"/>
<message name="getProduitsResponse">
<part name="return" type="xsd:string"/>
</message>
<portType name="ProduitService">
<operation name="create">
<input wsam:Action="http://soap.server.ws.orsys.com/ProduitService/createRequest" message="tns:create"/>
<output wsam:Action="http://soap.server.ws.orsys.com/ProduitService/createResponse" message="tns:createResponse"/>
</operation>
<operation name="updateProduit">
<input wsam:Action="http://soap.server.ws.orsys.com/ProduitService/updateProduitRequest" message="tns:updateProduit"/>
<output wsam:Action="http://soap.server.ws.orsys.com/ProduitService/updateProduitResponse" message="tns:updateProduitResponse"/>
</operation>
<operation name="deleteProduit">
<input wsam:Action="http://soap.server.ws.orsys.com/ProduitService/deleteProduitRequest" message="tns:deleteProduit"/>
<output wsam:Action="http://soap.server.ws.orsys.com/ProduitService/deleteProduitResponse" message="tns:deleteProduitResponse"/>
</operation>
<operation name="findById">
<input wsam:Action="http://soap.server.ws.orsys.com/ProduitService/findByIdRequest" message="tns:findById"/>
<output wsam:Action="http://soap.server.ws.orsys.com/ProduitService/findByIdResponse" message="tns:findByIdResponse"/>
</operation>
<operation name="getProduits">
<input wsam:Action="http://soap.server.ws.orsys.com/ProduitService/getProduitsRequest" message="tns:getProduits"/>
<output wsam:Action="http://soap.server.ws.orsys.com/ProduitService/getProduitsResponse" message="tns:getProduitsResponse"/>
</operation>
</portType>
<binding name="ProduitServiceImplPortBinding" type="tns:ProduitService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://soap.server.ws.orsys.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://soap.server.ws.orsys.com/"/>
</output>
</operation>
<operation name="updateProduit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://soap.server.ws.orsys.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://soap.server.ws.orsys.com/"/>
</output>
</operation>
<operation name="deleteProduit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://soap.server.ws.orsys.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://soap.server.ws.orsys.com/"/>
</output>
</operation>
<operation name="findById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://soap.server.ws.orsys.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://soap.server.ws.orsys.com/"/>
</output>
</operation>
<operation name="getProduits">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://soap.server.ws.orsys.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://soap.server.ws.orsys.com/"/>
</output>
</operation>
</binding>
<service name="ProduitServiceImplService">
<port name="ProduitServiceImplPort" binding="tns:ProduitServiceImplPortBinding">
<soap:address location="http://localhost:8888/ws/produits"/>
</port>
</service>
</definitions>